/* em inherit from the parent class */
/*  1em = 20px */

/* .container {

    font-size: 14px;
}

.child{

    font-size: 1em;
} */

/* rem inherit from root element*/
/* 
html {

    font-size: 20px;
}

.myname{

    font-size: 1rem;
} */

/* 

*{

    margin : 0;
    padding: 0;
    box-sizing: border-box;
}

.container {

    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height:100vh;
    flex-wrap: wrap;
    center the rows
    align-content: center;

}

.container div {

    padding:10px;
    border:1px solid red;
    width:25%;
}*/ 

/*=== Website styles=== */

/*===Variables===*/
:root {

    --color-green : #55c57a;
    --color-green-light : #7ed56f;
    --color-green-dark : #28b485;
    --color-silver:#e4e7ea;
    --color-white : #fff;
    --color-black : #111;
}

html{
    font-size: 10px;
    font-weight: 400;
}

body{
    font-family: "Poppins", sans-serif;
}

* {
margin:0;
padding:0;
box-sizing: border-box;
}

/*===Style signup and login form===*/
.sign-up{

    display: flex;
    display: -webkit-flex;
    width:100%;
    height:100vh;

}

.account-left{

width:70%;
background-image: linear-gradient(to right bottom,rgba(98, 197, 122, 0.8) 50% ,transparent 50%), url(../img/bg1.jpg);
background-repeat: no-repeat;
background-size: cover;
background-position: center;
position: relative;
}

.account-text{

    position: absolute;
    top:20%;
    left:40%;
    transform:translate(-50%,-50%);
    font-size: 1.5rem;
    color:var(--color-white);
}

.account-right{

    width:30%;
    position: relative;
}

.form-area{

    width:80%;
    position: absolute;
    left:50%;
    bottom:50%;
    transform: translate(-50% , 50%);
    text-align: center;
}

.group{

    margin-bottom: 1.5rem;
}

.control{

    width:100%;
    display:block;
    padding: 1.1rem 1rem;
    border-radius: 3px;
    border : 1px solid var(--color-silver);
    transition: all 1s;
}

.control:focus{

    outline: none;
    border:1px solid var(--color-green-dark);
}

.file {
    display: none;
}

#file-label {

    display:block;
    width:100%;
    padding:1.1rem 1rem;
    border:1px solid var(--color-silver);
    border-radius: 3px;
    font-size: 1.2rem;
    text-align: left;
   
}

.upload-icon{

    margin-right:1.5rem;
    font-size: 1.7rem;
    color:var(--color-green-dark);
}

#file-label:hover{

    cursor: pointer;
}

.btn{

    display: block;
    padding: 1.2rem .9rem;
    font-size: 1.5rem;
    border-radius: 3rem;
    text-transform: uppercase;
    border:0px;
    color:var(--color-white);

}

.account-btn{

    width:100%;
    background:linear-gradient(to right, var(--color-green-light),var(--color-green-dark)) ;
    box-shadow: 0 .8rem .6rem -.6px rgba(0,0,0,0.3);
}

.account-btn:hover {
    cursor:pointer;
}

.form-heading{

    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 400;
   border-bottom:.09rem solid var(--color-silver);
   padding-bottom: 1.5rem;
   letter-spacing: .2rem;
   text-align: left;
   color:#999;
}

.link{

     display:block;
    color:#999;
    font-size: 1.5rem;
    text-decoration: none;
    text-align: left;
    font-weight: 300;
    padding-top: 1.5rem;
   
}

@media (max-width:765px){

    .account-left{
        display: none;
    }

    .account-right{
        width: 100%;
    }
}